@use "../../../styles/config" as *;

.draft {
	opacity: 0.5;
}

.years {
	display: inline-block;
	box-shadow: var(--shadow-elevation-low);
	font-family: #{selectFont(headingFont)};
	font-size: 2rem;
	padding: 4px;
	margin-bottom: 8px;
	color: var(--siteBackground);
	background-color: var(--supportDarkColor);
	width: fit-content;
	@include theme("dark") {
		color: var(--siteFontColor);
	}
}

.experience {
	padding: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include breakpoint(m) {
		height: 100%;
		justify-content: flex-start;
	}
	li:nth-child(even) & {
		align-items: flex-start;
		text-align: left;
	}
	li:nth-child(odd) & {
		align-items: flex-end;
		text-align: right;
	}
}

.container {
	background: rgba(var(--mercuryRgb), 0.8);
	box-shadow: var(--shadow-elevation-medium);
	border-radius: 6px;
	overflow: hidden;
	@include theme(dark) {
		background: rgba(var(--supportDarkColorRgb), 0.8);
	}
	border: 1px solid var(--fontColor);
	position: relative;
	height: 100%;
	max-width: 25em;
	display: grid;
	align-items: start;
	justify-content: start;
	grid-template-columns: 1fr;
	grid-template-areas:
		"title"
		"summary"
		"tags";
	gap: 8px 12px;
	padding: 8px 8px 8px 16px;
	&:has(img:not(.logo)) {
		grid-template-columns: 1fr minmax(0, 56px);
		grid-template-areas:
			"title logo"
			"summary summary"
			"tags tags";
	}
	li:nth-child(even):has(img) & {
		padding-right: 120px;
		justify-content: end;
	}
	li:nth-child(odd):has(img) & {
		padding-left: 120px;
	}
}

.titleLink {
	grid-area: title;
	--highlight-color: var(--deepSky);
	text-decoration: none;
	transition: 0.2s ease-in-out;
	&:hover {
		--highlight-color: var(--governorBay);
		transform: scale(1.02);
		color: var(--highlight-color);
		@include theme(dark) {
			--highlight-color: var(--white);
			color: var(--white);
		}
	}
}

.title {
	font-size: 3.2rem;
	line-height: 3.2rem;
	margin-bottom: 0;
	color: inherit;
	position: relative;
	display: inline;
	z-index: z(z1);
	:global(.odd) & {
		text-align: right;
		text-underline-position: right;
	}
	&:not(.titleSingle) {
		background: -webkit-linear-gradient(
			var(--midnight),
			var(--highlight-color)
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@include theme(dark) {
			background: -webkit-linear-gradient(var(--white), var(--highlight-color));
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	&:after {
		content: "";
		border-bottom: 2px solid currentColor;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		display: inline;
	}
	:global(.even) & {
		&:after {
			content: none;
		}
		&:before {
			content: "";
			border-bottom: 2px solid currentColor;
			width: 100%;
			position: absolute;
			bottom: 0;
			right: 0;
			display: block;
		}
	}
}

.titleSingle {
	grid-area: title;
	z-index: z(z1);
	&:before,
	&:after {
		content: none;
	}
	:global(.even) & {
		&:before,
		&:after {
			content: none;
		}
	}
}

.tags {
	grid-area: tags;
	align-self: end;
	z-index: z(z1);
	margin-top: auto;
}

.tag {
	border: 1px solid var(--supportColor);
	padding: 2px;
	font-size: 0.8rem;
	margin-right: 4px;
	z-index: z(z1);
}

.summary {
	font-size: 1.4rem;
	grid-area: summary;
	z-index: z(z1);
}

.logo {
	width: 160px;
	height: clamp(80px, 100px, calc(100% - 16px));
	z-index: z(z0);
	opacity: 0.05;
	object-fit: contain;
	position: absolute;
	right: 8px;
	top: 8px;
	object-position: right top;
	:global(.odd) & {
		object-position: left top;
		right: auto;
		left: 8px;
	}
	@include theme("dark") {
		filter: invert(1);
		opacity: 0.2;
	}
}
