@use "../../styles/config/" as *;

.avatar {
  border: 2px solid var(--siteFontColour);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  img {
    object-fit: cover;
  }
}

.small {
  width: 80px;
  height: 80px;
}

.medium {
  width: 120px;
  height: 120px;
}

.large {
  --avatarSize: 200px;
  width: var(--avatarSize);
}
