@use "../../styles/config" as *;

.card {
  background: rgba(var(--supportColorRgb), 0.6);
  padding: 16px 12px;
  border-radius: 6px;
  grid-column: 1 / -1;
  margin-bottom: 24px;
  @include breakpoint(m) {
    padding: 24px 16px;
    margin: 0px 8px 24px;
  }
}

.small {
  grid-column: span 4;
}

.medium {
  grid-column: span 6;
}

.table {
  width: 100%;
  svg {
    width: 24px;
    height: 24px;
  }
  th {
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    span {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
  tr {
    &:last-of-type {
      td {
        border-bottom: none;
      }
    }
  }
  th,
  td {
    padding: 4px;
    border-bottom: 1px solid var(--supportColor);
  }
}
