@use "../../../styles/config" as *;

@keyframes bloop {
	0% {
		transform: translate(-50%, -50%) scale(0);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}

.feedback {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	display: grid;
	transform: translate(-50%, -50%);
	justify-content: center;
	align-items: center;
	z-index: z(z2);
	border-radius: 50%;
	transition: transform;
	opacity: 0;
	&.show {
		animation: bloop 0.2s ease-in-out;
		animation-direction: alternate;
		opacity: 1;
	}
	svg {
		width: 48px;
		height: 48px;
	}
}

.correctFeedback {
	background: var(--forestGreen);
}

.incorrectFeedback {
	background: var(--watermelon);
}
