@use "../../../styles/config" as *;

.experiences {
	grid-column: 1 / -1;
	--experienceWidth: 260px;
}

.lists {
	@include breakpoint(m) {
		display: grid;
		grid-template-columns: 40px 1fr;
		--list-gap: 24px;
		--row-alternating-color: rgba(var(--supportColorRgb), 0.1);
		gap: var(--list-gap);
		margin: 0 auto;
	}
}

.yearList {
	display: none;
	@include breakpoint(m) {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(auto-fill, var(--experience-list-item-height));
	}
}

.year {
	display: grid;
	grid-template-columns: 36px;
	grid-template-rows: repeat(12, auto);
	position: relative;
	padding: 4px;
	position: relative;
	@include breakpoint(m) {
		height: calc(var(--experience-list-item-height) * 64px);
	}
	&:nth-child(even) {
		background: var(--row-alternating-color);
		&:after {
			content: "";
			width: var(--list-gap);
			height: 72px;
			position: absolute;
			right: calc(var(--list-gap) * -1);
			background: var(--row-alternating-color);
			top: 0;
			grid-row: 1 / -1;
		}
	}
	& span {
		grid-row: 1 / -1;
	}
}

.yearNumber {
	grid-column: 1 / 2;
	font-family: #{selectFont("headingFont")};
}

.experienceList {
	display: flex;
	flex-direction: column;
}

.experienceListItem {
	min-height: 72px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	@include breakpoint(m) {
		height: calc(var(--experience-list-item-height) * 64px);
		display: grid;
		gap: 0 12px;
		grid-template-rows: repeat(12, 6px);
		grid-template-columns: repeat(
			auto-fit,
			minmax(var(--experienceWidth), max-content)
		);
	}
	&:nth-child(even) {
		background: var(--row-alternating-color);
	}
	&.hideMobile {
		@include breakpoint(m, max) {
			display: none;
		}
	}
}

.spacer {
	height: 0;
	grid-column: span 1;
	width: 24px;
}

.experience {
	grid-column: span 1;
}
