@use "../../styles/config" as *;

.title {
	grid-column: 1 / -1;
	line-height: 5.2rem;
}

.items {
	grid-column: 1 / -1;
	@include breakpoint(m) {
		grid-column: 1 / 9;
	}
}

.list {
	background: var(--siteBackground);

	li {
		&:hover {
			background-color: rgba(var(--supportColorRgb), 0.6);
		}
		&:nth-child(even) {
			background-color: rgba(var(--supportColorRgb), 0.2);
			&:hover {
				background-color: rgba(var(--supportColorRgb), 0.6);
			}
		}
		&.hidden {
			display: none;
		}
	}
}

.hideChecked {
	display: flex;
}

.filters {
	grid-column: 1 / -1;
	display: flex;
	gap: 20px;
	margin: 12px;
	flex-wrap: wrap;
	align-items: center;
	h3 {
		font-size: 2.4rem;
	}
}

.buttons {
	grid-column: 1 / -1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 24px 0;
	gap: 8px;
	@include breakpoint(m) {
		margin: 24px 40px;
		justify-content: space-between;
		grid-column: 1 / 8;
	}
}

.item {
	display: flex;
	min-height: 44px;
	align-items: center;
	justify-content: flex-start;
	gap: 12px;
	padding: 2px 8px;

	label {
		width: 100%;
		height: 100%;
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 12px;
	}
	input {
		margin-right: 16px;
	}
}

.desc {
	flex: 1 1 fit-content;
	margin: 8px 0 8px auto;
	align-self: flex-end;
	text-align: right;
	.checked & {
		text-decoration: line-through;
		opacity: 0.3;
	}
}
