// -----------------------------------------------------------------------------
// FORMS
// Global forms settings
// -----------------------------------------------------------------------------
@use "../config" as *;

input[type="number"],
select {
	height: 40px;
	font-family: #{selectFont(headingFont)};
	font-size: 2.8rem;
	border: 2px solid var(--siteFontColor);
	border-radius: 6px;
	padding: 0 4px;
	color: var(--siteFontColor);
	background-color: var(--mercury);
	@include theme(dark, false) {
		background-color: var(--mineshaft);
	}
	&[disabled],
	&.disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

optgroup {
	font-size: 1.4rem;
}
