@use "../../../styles/config/" as *;

.item {
	display: flex;
	min-height: 44px;
	align-items: center;
	gap: 12px;
	padding: 2px 8px;
}

.name {
	flex: 0 1 fit-content;
	margin: 0;
	.checked & {
		text-decoration: line-through;
		opacity: 0.3;
	}
	@include theme(dark) {
		color: var(--white);
	}
}

.desc {
	flex: 1 1 fit-content;
	margin: 8px 0;
	.checked & {
		text-decoration: line-through;
		opacity: 0.3;
	}
}

.button {
	flex: 0 0 40px;
}

.tags {
	display: none;
	@include breakpoint(s) {
		display: block;
	}
	.checked & {
		opacity: 0.3;
	}
	span {
		border: 1px solid var(--supportColor);
		padding: 2px;
		font-size: 1rem;
		margin-right: 4px;
	}
}
