@use "../../styles/config" as *;

.card {
  width: 100vw;
  padding: 8px 0;
  margin: 32px;
  @include breakpoint(m) {
    margin: 80px;
    width: 666px;
  }
  a {
    color: var(--linkColor);
  }
}

.circle {
  --circleSize: 200px;
  margin: 0 16px;
  height: var(--circleSize);
  width: var(--circleSize);
  @include breakpoint(m) {
    clip-path: circle(50%);
    float: left;
    shape-margin: 8px;
    shape-outside: circle(50%);
  }
}

.list {
  max-width: 100%;
  li {
    display: block;
    @include breakpoint(s, max) {
      position: relative;
      padding-left: 16px;
    }
    &:before {
      content: "•";
      display: inline-block;
      padding-right: 8px;
      @include breakpoint(s, max) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
