@use "../styles/config" as *;
// Storybook docs need some extra pressure to adjust to a different theme.
body {
  .sbdocs-span {
    font-size: inherit;
    line-height: inherit;
  }
  .sbdocs {
    pre,
    code {
      font-family: monospace;
      //   color: var(--freshGreen);
    }
    strong,
    b {
      font-weight: bold;
    }
    em,
    i {
      font-style: italic;
    }
    u {
      text-decoration: underline;
    }
    i {
      padding-left: 40px;
      margin: 16px 0;
    }
  }
}

.docblock-typeset {
  [style*="estherkoolregular"] {
    letter-spacing: -0.05em;
  }
}

.docblock-icongallery {
  svg {
    color: var(--woodsmoke);
  }
}