// -----------------------------------------------------------------------------
// FORMS
// Global forms settings
// -----------------------------------------------------------------------------
@use "../config" as *;

button,
.button {
  background: var(--siteBackground);
  color: var(--siteFontColor);
  border: 2px solid var(--siteFontColor);
  font-family: var(--baseFont);
  font-size: 2rem;
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform-origin: center;
  text-decoration: none;
  &[disabled] {
    opacity: 0.5;
  }
  &:hover {
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
  }
  &:focus,
  &:focus-visible {
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
    outline: 2px dotted var(--siteFontColor);
  }
}

.button-text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &:after {
    content: attr(data-text);
    content: attr(data-text) / "";
    font-weight: bold;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    @media speech {
      display: none;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background: var(--siteBackground);
  border: 2px solid var(--siteFontColor);
  padding: 8px 20px;
  font-family: var(--baseFont);
  font-size: 1.6rem;
  color: var(--siteFontColor);
  &::placeholder {
    font-family: var(--baseFont);
    font-size: 1.6rem;
    color: rgba(var(--siteFontColorRgb), 0.6);
  }
  &:focus,
  &:focus-visible {
    background-color: var(--supportColor);
    outline: 2px dotted var(--siteFontColor);
  }
}
