// -----------------------------------------------------------------------------
// THEME
// Global theming settings
// -----------------------------------------------------------------------------
@use "../config" as *;

// -----------------------------------------------------------------------------
// Colours
// Colour names by https://www.color-blindness.com/color-name-hue/ and https://chir.ag/projects/name-that-color
// -----------------------------------------------------------------------------
:root {
  --transparent: rgb(0, 0, 0, 0);
  --white: #{colour(white)};
  --whiteRgb: #{colour(white, true)};

  --mineshaft: #{colour(mineshaft)};
  --mineshaftRgb: #{colour(mineshaft, true)};

  --mercury: #{colour(mercury)};
  --mercuryRgb: #{colour(mercury, true)};

  --blauw: #{colour(blauw)};

  --lichtblauw: #{colour(lichtblauw)};

  --black: #{colour(black)};
  --blackRgb: #{colour(black, true)};
  --blueStone: #{colour(blueStone)};
  --blueStoneRgb: #{colour(blueStone, true)};
  --scooter: #{colour(scooter)};
  --scooterRgb: #{colour(scooter, true)};
  --shamrock: #{colour(shamrock)};
  --shamrockRgb: #{colour(shamrock, true)};
  --springGreen: #{colour(springGreen)};
  --springGreenRgb: #{colour(springGreen, true)};
  --siteBackground: var(--white);
  --siteFontColor: var(--black);
  --siteFontColorRgb: var(--blackRgb);
  --supportColor: var(--mercury);
  --supportColorRgb: var(--mercuryRgb);
  --linkColor: var(--blauw);
}

body {
  background: var(--siteBackground);
  color: var(--siteFontColor);
  [data-theme="dark"] & {
    --siteBackground: var(--black);
    --siteFontColor: var(--white);
    --siteFontColorRgb: var(--whiteRgb);
    --supportColor: var(--mineshaft);
    --supportColorRgb: var(--mineshaftRgb);
    --linkColor: var(--lichtblauw);
  }
}

.illustrationContainer {
  grid-column: span 2;
  margin: 12px;
  background-color: var(--siteBackground);
}

.illustration {
  mix-blend-mode: hard-light;
  filter: brightness(50%);
  [data-theme="dark"] & {
    filter: invert(100%) brightness(1.5);
    mix-blend-mode: lighten;
  }
}
