// -----------------------------------------------------------------------------
// TYPOGRAPHY
// Global typography
// -----------------------------------------------------------------------------
@use "../config" as *;
@import "@fontsource/open-sans/400.css"; // Weight 400
@import "@fontsource/open-sans/400-italic.css"; // Italic 400
@import "@fontsource/open-sans/700.css"; // Bold 700
@import "@fontsource/open-sans/800.css"; // Extra-bold 800

@font-face {
  font-family: "P22 Folk Art Stitch";
  src: url("/fonts/P22FolkArtStitch.woff2") format("woff2"), url("/fonts/P22FolkArtStitch.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 62.5%; // (62.5/100) * 16px = 10px --> 1rem= 10px
  --basefont: "Open Sans", Arial, --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  --fallback-font: Arial, --apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

body {
  font-family: var(--basefont);
  font-size: 1.6rem;
  line-height: 1.5;
  body.fallback-font & {
    letter-spacing: 0.45px;
    word-spacing: -0.5px;
    @include breakpoint(s) {
      letter-spacing: 0.5px;
      word-spacing: -0.45px;
    }
  }
}

// -----------------------------------------------------------------------------
// Formatting Elements
// -----------------------------------------------------------------------------
a {
  border: 1px dotted transparent;
  &:focus {
    outline: none;
  }
  @include hoverFocusActiveStyling(transform, $value: none, $hoverValue: scale(1.05), $focusValue: scale(1.05));
  @include hoverFocusActiveStyling(border-color, $value: transparent, $hoverValue: none, $focusValue: currentColor);
}

.anchor {
  @extend a;
  color: var(--linkColor);
}

.strong {
  font-weight: var(--bold-weight);
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------
input,
button,
textarea,
select {
  font: inherit;
}

// -----------------------------------------------------------------------------
// Text styles
// -----------------------------------------------------------------------------

h1,
.h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}

h2,
.h2 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 8px;
}

h3,
.h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.bruksanvisnung {
  font-family: "P22 Folk Art Stitch";
  font-weight: normal;
  margin-bottom: 1em;
}

h1 {
  &.bruksanvisnung {
    font-size: 5rem;
  }
}

h2 {
  &.bruksanvisnung {
    text-transform: uppercase;
    text-decoration: underline dashed;
    text-underline-offset: 12px;
    margin: 0 0 24px;
    &:not(:first-child) {
      margin-top: 24px;
    }
  }
}

p {
  margin-bottom: 1em;
}

dl {
  dt {
    font-weight: 700;
  }
  dd {
    margin-bottom: 8px;
  }
}
