@use "../../styles/config" as *;

.button {
  cursor: pointer;
  font-family: var(--headingfont);
  font-size: 3.2rem;
  min-height: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--supportColor);
  border-radius: 6px;
  background: var(--supportDarkColor);
  box-shadow: var(--shadow-elevation-medium);
  color: var(--white);
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  &:hover {
    box-shadow: var(--shadow-elevation-high);
    span {
      text-shadow: -0.2px 0 currentColor, 0 0.2px currentColor, 0.2px 0 currentColor, 0 -0.2px currentColor;
    }
  }
  svg {
    transition: transform 0.2s ease-in-out;
  }
  span {
    transition: 0.2s ease-in-out;
  }
}

.text {
  display: inline-block;
  padding: 8px;

  &:after {
    display: block;
    // so the anchor needs a title for this to work
    content: attr(data-text);
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    font-weight: bold;
  }
}
