@use "../../styles/config" as *;

.button {
  appearance: none;
  cursor: pointer;
  background: var(--supportDarkColor);
  box-shadow: var(--shadow-elevation-medium);
  font-family: var(--headingfont);
  font-size: 3.6rem;
  // @include EstherFont(2, 10);
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 6px;
  color: var(--white);
  transition: 0.2s ease-in-out;
  padding: 4px 16px;
  --textShadowWidth: 0.25px;
  &:hover {
    box-shadow: var(--shadow-elevation-high);
    span {
      text-shadow: calc(var(--textShadowWidth) * -1) 0 currentColor, 0 var(--textShadowWidth) currentColor,
        var(--textShadowWidth) 0 currentColor, 0 calc(var(--textShadowWidth) * -1) currentColor;
    }
    svg {
      filter: drop-shadow(var(--textShadowWidth) var(--textShadowWidth) currentColor);
    }
  }
  svg {
    transition: 0.2s ease-in-out;
  }
  span {
    transition: 0.2s ease-in-out;
  }
  svg {
    color: currentColor;
    width: 1em;
    height: 1em;
    pointer-events: none;
  }
}
