@use "../../styles/config" as *;

.wrapper {
	grid-column: 1 / -1;
	display: grid;
	grid-template-areas: "title" "filters" "list";
	justify-content: center;
	input[type="number"]:not([value="0"]) {
		border-color: rgba(var(--forestGreenRgb));
	}
}

.title {
	grid-area: title;
	line-height: 5.2rem;
}

.filters {
	grid-area: filters;
}

.table {
	grid-area: list;
	width: max-content;
	td,
	th {
		padding: 8px;
		vertical-align: middle;
		text-align: center;
	}
	tr {
		&:nth-child(even) {
			background-color: rgba(var(--supportColorRgb), 0.6);
			--rotate: 2deg;
			&.hasCard {
				background-color: rgba(var(--forestGreenRgb), 0.3);
			}
		}
		&:nth-child(odd) {
			--rotate: -2deg;
			&.hasCard {
				background-color: rgba(var(--forestGreenRgb), 0.2);
			}
		}
		&.hasCard {
			background-color: rgba(var(--forestGreenRgb), 0.2);
			input[type="number"][value="0"] {
				border: 2px solid rgba(var(--stilettoRgb), 0.5);
			}
		}
		&.hasMoreCopies {
			background-color: rgba(var(--forestGreenRgb), 0.2);
		}
	}
	thead {
		th:first-child {
			width: 120px;
		}
	}
	tbody {
		tr {
			th {
				width: 120px;
				display: flex;
				justify-content: center;
			}
		}
	}
}

.hideChecked {
	display: flex;
}

.filters {
	grid-column: 1 / -1;
	display: flex;
	margin: 12px;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
	margin-bottom: 32px;
	@include breakpoint(m) {
		gap: 20px;
	}
	h3 {
		font-size: 2.4rem;
		line-height: 2.4rem;
		margin-bottom: 0;
	}
}

.buttons {
	grid-column: 1 / -1;
	display: flex;
	align-items: center;
	justify-content: stretch;
	margin: 24px 0;
	gap: 8px;
	@include breakpoint(m) {
		margin: 24px 40px;
	}
	button {
		width: 100%;
		max-width: 320px;
	}
}

.numberInput {
	width: 60px;
}

.savedMessage {
	pointer-events: none;
	position: fixed;
	top: 50vh;
	left: 50vw;
	border-radius: 6px;
	transform: translate(-50%, -50%);
	background: var(--siteBackground);
	padding: 16px;
	width: 50vw;
	height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--shadow-elevation-high);
	opacity: 0;
	transition: 0.2s ease-in-out;
	&.showSaved {
		opacity: 1;
	}
}
