@use "../../styles/config" as *;

.wrapper {
	grid-column: 1 / -1;
	display: grid;
	grid-template-areas: "title" "filters" "list";
	justify-content: center;
	input[type="number"]:not([value="0"]) {
		border-color: rgba(var(--forestGreenRgb));
	}
}

.title {
	grid-area: title;
	line-height: 5.2rem;
}

.filters {
	background: var(--siteBackground);
	padding: 12px;
	border-radius: 6px;
	grid-area: filters;
	box-shadow: var(--shadow-elevation-medium);
	display: grid;
	gap: 12px;
	grid-column: 1 / -1;
	margin: 12px;
	align-items: center;
	gap: 8px;
	margin-bottom: 32px;
	@include breakpoint(s, max) {
		justify-content: center;
	}
	@include breakpoint(m) {
		gap: 20px;
	}
	h3 {
		font-size: 2.4rem;
		line-height: 2.4rem;
		margin-bottom: 0;
	}
	.dropdown {
		grid-column: 1 / -1;
	}
	.showAll {
		&.hidden {
			display: none;
		}
	}
	.checkbox {
		grid-column: 1 / -1;
	}
}

.table {
	grid-area: list;
	width: max-content;
	@include breakpoint(s, max) {
		min-width: 240px;
		margin: 0 auto;
	}
	&.showOnlyCollected {
		tbody {
			tr:not(.hasCard) {
				display: none;
			}
		}
	}
	&.showOnlyDoubles {
		tbody {
			tr:not(.hasMoreCopies) {
				display: none;
			}
		}
	}
	&.showOnlyMissing {
		.hasCard,
		.hasMoreCopies {
			display: none;
		}
	}
	td,
	th {
		padding: 8px;
		vertical-align: middle;
		@include breakpoint(s) {
			text-align: center;
		}
	}
	tr {
		&:nth-child(even) {
			background-color: rgba(var(--supportColorRgb), 0.6);
			--rotate: 2deg;
			&.hasCard {
				background-color: rgba(var(--forestGreenRgb), 0.3);
			}
		}
		&:nth-child(odd) {
			--rotate: -2deg;
			&.hasCard {
				background-color: rgba(var(--forestGreenRgb), 0.2);
			}
		}
		&.hasCard {
			background-color: rgba(var(--forestGreenRgb), 0.2);
			input[type="number"][value="0"] {
				border: 2px solid rgba(var(--stilettoRgb), 0.5);
			}
		}
		&.hasMoreCopies {
			background-color: rgba(var(--forestGreenRgb), 0.2);
		}
	}
	thead {
		@include breakpoint(s, max) {
			display: none;
		}
		th:first-child {
			@include breakpoint(s) {
				width: 120px;
			}
		}
	}
	tbody {
		tr {
			@include breakpoint(s, max) {
				display: block;
				border-bottom: 1px solid var(--siteFontColor);
				margin: 8px 0;
			}
			&.hidden {
				display: none;
			}
			th {
				display: flex;
				justify-content: center;
				@include breakpoint(s) {
					width: 120px;
				}
			}
			td {
				@include breakpoint(s, max) {
					display: flex;
					width: 100%;
				}
				&:before {
					@include breakpoint(s, max) {
						content: attr(title);
						flex: 1;
						margin-right: 8px;
					}
				}
				&:last-child {
					@include breakpoint(s, max) {
						margin-bottom: 8px;
					}
				}
			}
		}
	}
}

.checkbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&.disabled {
		span {
			opacity: 0.5;
		}
	}
}

.buttons {
	grid-column: 1 / -1;
	display: flex;
	align-items: center;
	justify-content: stretch;
	margin: 24px 0;
	gap: 8px;
	@include breakpoint(s, max) {
		justify-content: center;
	}
	@include breakpoint(m) {
		margin: 24px 40px;
	}
	button {
		width: 100%;
		max-width: 320px;
	}
}

.numberInput {
	width: 60px;
}

.savedMessage {
	pointer-events: none;
	position: fixed;
	top: 50vh;
	left: 50vw;
	border-radius: 6px;
	transform: translate(-50%, -50%);
	background: var(--siteBackground);
	padding: 16px;
	width: 50vw;
	height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--shadow-elevation-high);
	opacity: 0;
	transition: 0.2s ease-in-out;
	&.showSaved {
		opacity: 1;
	}
}

.hideCollected {
	display: flex;
	align-items: center;
	margin: 8px;
}
