@use "../../styles/config" as *;

.header {
  padding: 16px;
  margin-bottom: 40px;
  @include breakpoint(s) {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    justify-items: end;
    padding: 32px;
    margin-bottom: 80px;
  }
}

.logo {
  justify-self: start;
  svg {
    width: 300px;
    height: 68px;
    transition: 0.2s ease-in-out;
  }
}

.link {
  transition: 0.2s ease-in-out;
  border: 2px dotted transparent;
  padding: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--siteFontColor);
  @include breakpoint(s, max) {
    margin-bottom: 16px;
  }
  &:focus {
    outline: none;
  }
  @include hoverFocusActiveStyling(
    border-color,
    $value: transparent,
    $hoverValue: none,
    $focusValue: var(--siteFontColor)
  );
  @include hoverFocusActiveStyling(transform, $value: none, $hoverValue: scale(1.05), $focusValue: scale(1.05));
  @include hoverFocusActiveStyling(
    transform,
    $value: none,
    $hoverValue: scale(1.05),
    $focusValue: scale(1.05),
    $child: "svg"
  );
}

.content {
  display: flex;
  align-items: center;
  gap: 8px 16px;
}

.themeToggle {
  svg {
    color: currentColor;
    width: 24px;
    height: 24px;
    pointer-events: none;
  }
}
