@use "../../styles/config" as *;

.header {
  padding: 16px;
  @include breakpoint(s) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
  }
  svg {
    width: 300px;
    height: 68px;
    transition: 0.2s ease-in-out;
  }
}

.link {
  transition: 0.2s ease-in-out;
  border: 2px dotted transparent;
  padding: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--siteFontColour);
  @include breakpoint(s, max) {
    margin-bottom: 16px;
  }
  &:focus {
    outline: none;
  }
  @include hoverFocusActiveStyling(
    border-color,
    $value: transparent,
    $hoverValue: none,
    $focusValue: var(--siteFontColour)
  );
  @include hoverFocusActiveStyling(transform, $value: none, $hoverValue: scale(1.05), $focusValue: scale(1.05));
  @include hoverFocusActiveStyling(
    transform,
    $value: none,
    $hoverValue: scale(1.05),
    $focusValue: scale(1.05),
    $child: "svg"
  );
}
